.issuetree{
	background-color: #fff;
	.issuetree--discussion-timeline--timeline{
		height: 300px;
		overflow: auto;

		&>div{
			border-bottom: 1px solid #bbb;
			padding: 0.5em 0;

			&:last-child{
				border-bottom: none;
			}
		}
	}
	.issuetree--discussion-timeline--form{
		textarea{
			width: 100%;
		}
	}
	.issuetree__owner{
		font-weight: bold;
		font-size: small;
	}
	.issuetree__comment{
		font-size: small;
	}
	.issuetree__voteuser{
		padding: 0;
		margin: 0;
		li{
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 1em;
			margin: 1px;
			background-color: #666;
			color: #eee;
			font-size: 11px;
			font-weight: normal;
			border-radius: 0.5em;
			&.issuetree__voteuser--me{
				background-color: #999;
			}
		}
	}
}
