html, body{
	font-size: medium;
	font-family: Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
}
header{
	background-color: #99b;
	padding: 20px;
}
footer{
	margin: 1em 0;
	background-color: #99b;
	padding: 20px;
}
