<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{conf.appName}}</title>
{% include '../common/includes/head.inc' %}
		<link rel="stylesheet" href="index_files/styles/contents.css" type="text/css" />
	</head>
	<body>
{% include '../common/includes/header.inc' %}

<div class="contents">
	<p><a href="javascript:loginWithFacebook();">Facebookアカウントでログイン</a></p>
</div>




<script>
function loginWithFacebook(){
	if( window.location.hash.length == 0 ){
		var url = "https://www.facebook.com/dialog/oauth?client_id=" +
		facebookAppId  + "&redirect_uri=" + window.location +
		"&response_type=token";
		window.location.href = url;

	}else{
		var accessToken = window.location.hash.substring(1);
		var graphUrl = "https://graph.facebook.com/me?" + accessToken +
		"&callback=displayUser"

		//use JSON-P to call the graph
		var script = document.createElement("script");
		script.src = graphUrl;
		document.body.appendChild(script);
	}
}

function displayUser(user) {
	console.log(user);
	userName.innerText = user.name;
}
</script>
<p id="userName"></p>



{% include '../common/includes/footer.inc' %}
{% include '../common/includes/foot.inc' %}
<script type="text/javascript" src="index_files/scripts/contents.js"></script>
	</body>
</html>
