<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Create New Board | <%%= conf.appName %></title>
<%%- include('../common/includes/head.inc') %>
		<link rel="stylesheet" href="index_files/styles/contents.css" type="text/css" />
	</head>
	<body>
<%%- include('../common/includes/header.inc') %>

		<h1>Create New Board</h1>
		<form action="javascript:;" class="cont_create_board form-inline" method="get">
			<div class="form-group">
				<label for="board_theme">BOARD THEME</label>
				<input type="text" name="board_theme" id="board_theme" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary">create</button>
		</form>
		<div class="result"></div>

<%%- include('../common/includes/footer.inc') %>

<%%- include('../common/includes/foot.inc') %>

<script type="text/javascript" src="index_files/scripts/contents.js"></script>
	</body>
</html>
