<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>passiflora</title>
		<link rel="stylesheet" href="/common/styles/common.css" type="text/css" />
		<link rel="stylesheet" href="index_files/styles/contents.css" type="text/css" />
	</head>
	<body>
		<h1>PASSIFLORA</h1>
		<form action="javascript:;" method="get">
			<div>BOARD ID:
				<input type="text" name="board_id" />
				<button type="submit">go</button>
			</div>
		</form>
		or
		<form action="javascript:;" method="get">
			<div>
				<button type="submit">create new board</button>
			</div>
		</form>
		<script type="text/javascript" src="/common/scripts/main.js"></script>
	</body>
</html>
