<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= conf.appName %></title>
<%%- include('common/includes/head.inc') %>
		<link rel="stylesheet" href="index_files/styles/contents.css" type="text/css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1><%%= conf.appName %></h1>
					<form action="javascript:;" method="get" class="gotoBoard form-inline">
						<div class="form-group">
							<label for="board_id">BOARD ID</label>
							<input type="text" name="board_id" id="board_id" class="form-control" />
						</div>
						<button type="submit" class="btn btn-primary">go</button>
					</form>
					or
					<form action="/create/" method="get" class="form-inline">
						<div>
							<button type="submit" class="btn btn-primary">create new board</button>
						</div>
					</form>


					<footer>
						<%% if( req.session && req.session.userInfo ){ %>
						<div>
							<p><a href="/logout.html" class="btn btn-default">logout</a></p>
						</div>
						<%% } %>
						<div>
							<p><a href="https://github.com/passiful/passiflora" target="_blank">passiful/passiflora</a>@<%%= conf.packageJson.version %></p>
							<p>Copyright (c)2016 Tomoya Koyanagi, and Passiful Project<br />MIT License https://opensource.org/licenses/mit-license.php</p>
						</div>
					</footer>

				</div>
			</div>
		</div>

<%%- include('common/includes/foot.inc') %>

<script type="text/javascript" src="index_files/scripts/contents.js"></script>
	</body>
</html>
