<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{conf.appName}}</title>
{% include 'common/includes/head.inc' %}
		<link rel="stylesheet" href="index_files/styles/contents.css" type="text/css" />
	</head>
	<body>
		<h1>{{conf.appName}}</h1>
		<form action="javascript:;" method="get" class="gotoBoard">
			<div>BOARD ID:
				<input type="text" name="board_id" />
				<button type="submit" class="btn btn-primary">go</button>
			</div>
		</form>
		or
		<form action="/create/" method="get">
			<div>
				<button type="submit" class="btn btn-secondary">create new board</button>
			</div>
		</form>
{% include 'common/includes/foot.inc' %}

<script type="text/javascript" src="index_files/scripts/contents.js"></script>
	</body>
</html>
