<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>LOGUOT - <%%= conf.appName %></title>
<%%- include('./common/includes/head.inc') %>
	</head>
	<body>
		<h1>PASSIFLORA</h1>
		<div class="contents">
			<p>ログアウトしました。</p>
			<p><button class="btn btn-default" onclick="window.location.href='/';">もどる</button></p>
		</div>
	</body>
</html>
